@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
}

.App {
  display: flex;
  justify-content: center;
}

.login-register-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.article-title:hover {
  color: #37bc9b !important;
}

.articleOptionsButton {
  background-color: white !important;
}

.logo {
  font-size: 4.5em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.jumbotron {
  height: 50vh;
}

.app-name {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 7rem;
}

.app-description {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center
}

.about-section {
  margin: 5rem;
  max-width: 1024px;
}

.about-app {
  color: #3d3d3d;
  margin-left: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-menu {
  
  background-color: #eeeeee !important;
  padding: 120px 50px 50px 50px;
  min-height: 500px;
  min-width: 320px;
}

.trending-topics {
  padding: 20px 0px 0px 30px;
}

@media only screen and (max-width: 770px) {
  .logo {
    font-size: 3.5em;
  }

  .app-name {
    font-size: 3.5rem;
  }

  .app-description {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
  }

  .about-section {
    margin: 5rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    font-size: 2em;
  }

  .jumbotron {
    max-height: 40vh;
  }

  .about-section {
    max-width: 300px;
    padding-bottom: 1rem;
  }
}