@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.App {
  display: flex;
  justify-content: center;
}

.login-register-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.article-title:hover {
  color: #37bc9b !important;
}

.article-description {
  line-height: 1.4;
  font-size: 1rem;
}

.evaluate-card {
  line-height: 2;
  font-size: 1.2rem;
}

.image-container {
  border-radius: 5px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  background-color: #37bc9b9b;
}

.article-image {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  max-height: 100%;
  object-fit: cover;
}

.article-image:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.articleOptionsButton {
  background-color: white !important;
  color: "grey";
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4.5em;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.jumbotron {
  height: 50vh;
}

.app-name {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 7rem;
}

.app-description {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
}

.about-section {
  margin: 5rem;
  max-width: 1024px;
}

.about-app {
  color: #3d3d3d;
  margin-left: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-menu {
  background-color: #eeeeee !important;
  padding: 120px 50px 50px 50px;
  min-height: 500px;
  min-width: 320px;
}

.trending-topics {
  padding: 10px 0px 0px 65px;
}

.editUserInfo:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #37bc9b;
}

.socialIcon:hover {
  cursor: pointer;
}

.weatherWidget {
  border-radius: 6px;
  background-color: #eeeeee;
  max-width: 100%;
  min-height: 100px;
  padding: 30px;
  color: #3d3d3d;
}

.geolocation:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
  .main-menu {
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.14),
      1px 1px 10px 0 rgba(0, 0, 0, 0.12), 2px 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 3.5em;
  }

  .app-name {
    font-size: 3.5rem;
  }

  .app-description {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
  }

  .about-section {
    max-width: 300px;
  }

  .weatherWidget {
    margin: 0px 15px;
  }

  .article-title {
    font-size: 1.3rem;
  }

  .meta {
    margin-bottom: 0.7em;
  }

  .article-description {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2.5em;
  }
  .main-menu {
    height: 100vh;
    min-width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    font-size: 2em;
  }

  .jumbotron {
    max-height: 40vh;
  }
}
